{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "chartjs"
    ],
    "rules": {
        "object-curly-spacing": ["error", "always"]
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true
    }
}
